.hero {
  position: relative;
  height: calc(100vh - 80px);
  margin-top: 80px;
  overflow: hidden;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
