.cocktail-link{
  text-decoration: none;
}
.cocktail-card {
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.cocktail-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}


.image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  transition: transform 0.4s ease;
}


.cocktail-card:hover .image {
  transform: scale(1.05);
}


.name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 18px 0 8px 0;
  color: #222;
  text-align: center;
}


.price {
  font-size: 1rem;
  font-weight: 500;
  color: #2e7d32;
  margin-bottom: 15px;
}

.add-btn {
  background-color: #2e7d32;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #1b5e20;
  transform: scale(1.05);
}


.add-btn:active {
  transform: scale(0.95);
}

.cocktail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  padding: 40px 5%;
}
