.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 125, 50);
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.header img {
  height: 60px;
  width: auto;
}

.nav {
  display: flex;
  gap: 2rem;
  padding: 10px 40px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s;
}
.nav a:hover{
  color: rgb(165, 214, 167);
}
.nav .cart-img {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  object-fit: cover;
  vertical-align: middle;
  margin-top: -9px;
  position: absolute;
}
.nav .cart-img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.cart-count{
  position: relative;
  color: black;
  right: -28px;
  top: -18px;
  background-color: white;
  color: rgb(165, 214, 167);
  padding: 2px 4px;
  border-radius: 10px;
  font-size: small;
}



