
.slider-manual {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slider-manual::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}



.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s ease-in-out,
  transform 6s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: scale(1.05);
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: 1;
}


.dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}


.dot {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}


.active-dot {
  opacity: 1;
  transform: scale(1.3);
}